.detalle{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.detalle img{

    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;

}